form.attacks
    .form-check
        input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
        label.form-check-label(for='flexRadioDefault1')
            | Default radio
    .form-check
        input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
        label.form-check-label(for='flexRadioDefault2')
            | Default checked radio