h3 Choisissez votre action

form.attacks#action(method='post' action='index.js')
    .form-check
        input#physicalAttack.form-check-input(type='radio' name='action' checked)
        label.form-check-label(for='physicalAttack')
            | Attaque physique
    .form-check
        input#magicAttack.form-check-input(type='radio' name='action')
        label.form-check-label(for='magicAttack')
            | Attaque magique
    .form-check
        input#armorBoost.form-check-input(type='radio' name='action' )
        label.form-check-label(for='armorBoost')
            | Boost d'armure
    .form-check
        input#strengthBoost.form-check-input(type='radio' name='action' )
        label.form-check-label(for='strengthBoost')
            | Boost de force
    .form-check
        input#magicBoost.form-check-input(type='radio' name='action' )
        label.form-check-label(for='magicBoost')
            | Boost de magie
    .form-check
        input#speedBoost.form-check-input(type='radio' name='action')
        label.form-check-label(for='speedBoost')
            | Boost de vitesse
    .form-check
        input#heal.form-check-input(type='radio' name='action')
        label.form-check-label(for='heal')
            | Soin



button.btn.btn-primary(onclick="console.log(form)") Fin du tour