extends layout

block aside
    - const {health, armor, magic,strength,speed} = stats

    .card(style='width: 18rem;')
        img.card-img-top(src='https://picsum.photos/200' alt='profilPic' )
        .card-body
            h5.card-title #{name}
            p.card-text
                each stat in stats
                    li: #{stat.name} : #{stat}
    button.btn.btn-primary(onclick='console.log("Go fight !")') Play



block content
    include attackForm

block hydra
    img(src='https://cdn.pixabay.com/photo/2021/05/19/01/57/dragon-6264685_960_720.jpg' style=('width="400"') alt='hydraPic')