p {}

table.table.table-borderless
    thead
        tr
            th #
            th First
            th Last
            th Handle
    tbody
        tr
            td 1
            td Mark
            td Otto
            td @mdo
        tr
            td 2
            td Jacob
            td Thornton
            td @fat
        tr
            td 3
            td Larry the Bird
            td
            td @twitter